{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-primary" href="/manager/book/list/">
                <span aria-hidden="true"></span>
                返回
            </a>


        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>书名</th>
                    <th>出版日期</th>
                    <th>普通价格</th>
                    <th>会员价格</th>
                    <th>score</th>
                    <th>版本</th>
                    <th>出版社</th>
                    <th>类别</th>
                    <th>作者</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                    <th>{{ obj.title }}</th>
                    <td>{{ obj.publish_date|date:"Y-m-d" }}</td>
                    <td>{{ obj.price_standard }}</td>
                    <td>{{ obj.price_vip }}</td>
                    <td>{{ obj.score }}</td>
                    <td>{{ obj.edition }}</td>
                    <td>{{ obj.press }}</td>
                    <td>{{ obj.class_field }}</td>
                    <td>
                        {% for author in obj.authors.all %}
                            {{ author.name }};
                        {%endfor%}
                    </td>
                </tr>

                </tbody>
            </table>
            <h3>简介</h3>
            <h4>
                {{obj.introduction|linebreaksbr}}
            </h4>
            <h3>评论</h3>
            <h4>
            {% for cmt in comments %}
            <div>
                {{cmt.user.name}}:
                {{ cmt.comment }}
                <a class="btn btn-primary" href="/manager/comment/{{cmt.comment_id}}/{{cmt.book.book_id}}/delete/">
                    <span aria-hidden="true"></span>
                    删除评论
                </a>
            </div>
            {%endfor%}
            </h4>
        </div>

    </div>
{% endblock %}
