{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/manager/book/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建书籍
            </a>

            <div style="float: right;width: 500px;">
                <form method="get">
                    <div class="input-group">
                        <div> 
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}" style="width: 400px;">


                               <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>    
                            </div>
                            <div> 
                        <label for="orderby" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 15px;">Order by</label>
                        <select name="orderby" id="orderby" style="background:#fafdfe; height:28px; width:150px; line-height:28px; border:1px solid #9bc0dd; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;">
                            <option value="{{ sort_option.name }}" style="display: none;" {% if not orderby %}selected=""{% endif %}>{{ sort_option.verbose_name }}</option>
                            <option value=""  style="display: none;"></option>
                            {% for field in sort_field %}
                            <option value="{{field.name}}" {% if field.name == orderby %}selected=""{% endif %}>{{field.verbose_name}}</option>
                            {% endfor %}
                        </select>

                        <label for="order" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 15px;">In</label>
                        <select name="order" id="order" style="background:#fafdfe; height:28px; width:150px; line-height:28px; border:1px solid #9bc0dd; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;">
                            <option value="{{ sort_rule }}"  style="display: none;" {% if not order %}selected=""{% endif %}>{%if sort_rule == 'asc'%}从低到高{%else%}{%if sort_rule == 'desc'%}从高到低{%endif%}{%endif%}</option>
                            <option value=""  style="display: none;"></option>
                            <option value="asc" {% if order == "asc" %}selected=""{% endif %}>从低到高</option>
                            <option value="desc" {% if order == "desc" %}selected=""{% endif %}>从高到低</option>
                        </select>
                        <button class="btn btn-default" onclick=reset_sort() style="padding:4px 10px; border:1px solid #9bc0dd ;">
                                清空
                        </button>
                    </div> 
                      
                    </div>
                    
                </form>
                
            </div>



        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                书籍信息列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>书名</th>
                    {% comment %} <th>出版日期</th> {% endcomment %}
                    <th>普通价格</th>
                    <th>会员价格</th>
                    <th>score</th>
                    {% comment %} <th>版本</th> {% endcomment %}
                    <th>出版社</th>
                    <th>类别</th>
                    <th>简介</th>
                    <th>作者</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.title }}</th>
                        {% comment %} <td>{{ obj.publish_date|date:"Y-m-d" }}</td> {% endcomment %}
                        <td>{{ obj.price_standard }}</td>
                        <td>{{ obj.price_vip }}</td>
                        <td>{{ obj.score }}</td>
                        {% comment %} <td>{{ obj.edition }}</td> {% endcomment %}
                        <td>{{ obj.press }}</td>
                        <td>{{ obj.class_field }}</td>
                        <td>{{ obj.introduction }}</td>
                        <td>
                            {% for author in obj.authors.all %}
                                {{ author.name }};
                            {%endfor%}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/manager/book/{{obj.book_id}}/edit/">编辑</a>
                            <a class="btn btn-primary btn-xs" href="/manager/book/{{obj.book_id}}/details/">查看详情</a>
                            <a class="btn btn-danger btn-xs" href="/manager/book/{{obj.book_id}}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>

    </div>

    <script type="text/javascript">
        function reset_sort()
        {
            document.getElementById("orderby").options[1].selected=true;
            document.getElementById("order").options[1].selected=true;
        }
    </script>
{% endblock %}
