{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="display:inline-block;margin-bottom: 10px" class="clearfix">
            {% if order.status == "已付款" %}
            <a class="btn btn-primary" href="/manager/order/{{order.order_id}}/edit">
                <span aria-hidden="true"></span>
                编辑订单信息
            </a>
            {%endif%}
        </div>
        <h3>订单信息</h3>
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>用户</th>
                    <th>提交时间</th>
                    <th>状态</th>
                    <th>物流</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ order.user }}</th>
                    <td>{{ order.submission_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.logistics }}</td>
                </tr>

                </tbody>
            </table> 
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                    <th>收件人</th>
                    <th>收件人电话</th>
                    <th>地址</th>
                </thead>
                <tbody>
                    <th>{{ order.name }}</th>
                    <th>{{ order.telephone }}</th>
                    <th>{{ order.address }}</th>
                </tbody>
            </table>
        </div>
        <h3>订单列表</h3>
        <div class="panel panel-default">
            
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>书籍id</th>
                    <th>书名</th>
                    <th>单价</th>
                    <th>数量</th>
                    {% if order.status == "已付款" %}
                    <th>操作</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for book_order in order_list %}
                    <tr>
                        <td>{{ book_order.book_id }}</td>
                        <td>{{ book_order.book.title }}</td>
                        <td>{{ book_order.book.price_standard }}</td>
                        <td>{{ book_order.number }}</td>
                        {% if order.status == "已付款" %}
                        <td>
                            <a class="btn btn-danger btn-xs" href="/manager/orderlist/{{book_order.order_list_id}}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/manager/orderlist/{{book_order.order_list_id}}/delete/">删除</a>
                        </td>
                        {% endif %}
                    </tr>
                    {%endfor%}
                </tbody>
                
            </table> 
            
            <h3>总计 {{ sum }}</h3>
        </div>
        
    </div>
{% endblock %}
