{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/manager/user/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建用户
            </a>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                用户信息列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名称</th>
                    <th>密码</th>
                    <th>是否VIP</th>
                    <th>电话</th>
                    <th>邮箱地址</th>
                    <th>地址</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.user_id }}</th>
                        <th>{{ obj.name }}</th>
                        <td>*******</td>
                        <td>{{ obj.get_is_vip_display  }}</td>
                        <td>{{ obj.telephone  }}</td>
                        <td>{{ obj.e_mail  }}</td>
                        <td>{{ obj.address  }}</td>

                        <td>
                            <a href="/manager/user/{{ obj.user_id }}/reset/">重置密码</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/manager/user/{{obj.user_id}}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/manager/user/{{obj.user_id}}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}