{% load static %}
<div class='subhead' style="height: 125px; 
background-color: #FFEECE;
margin-top: 25px;
margin-bottom: 10px;">
        <div class="col-xs-2 col-md-offset-1">
            <div>
                <img src="{% static "img\logo2.png" %}"
                data-holder-rendered="true" style="width: 250px; margin-top: 15px; margin-bottom: 15px;">
            </div>
        </div>

        <div class="col-xs-6 ">
            <div style="margin-bottom: 10px; margin-top: 20px; margin-left: 20px;" >
                <div style="width: 450px;">
                    <form method="get" action="/">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="书名、作者、简介、ISBN"
                                   value="{{ search_data }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                          </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="height:1px; width:100%; background:#251E0F; overflow:hidden;"></div>


        <div class="col-xs-2 col-md-offset--1">

        </div>
</div>
