{% load static %}
{% load get_key %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins//font-awesome-4.7.0/css/font-awesome.css' %}">
    <style>

        .more .more-item {
            display: inline-block;
            margin-right: 20px;
        }

    </style>
</head>
<body>


{% include "head_nav.html"%}    
{% include "head_sub.html"%}    



<div class="container-fluid clearfix">
    <div class="col-sm-8 col-md-offset-1">


            <h3>  热门推荐 </h3>
            <div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 10px;"></div>
            <div class="bs-example" data-example-id="thumbnails-with-custom-content">
                    <div class="row">
                    {% for obj in row1_object.values %}              
                      <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                          <img src="\static\img_book\{{obj.book_id}}.jpg" style="height: 300px;  display: block;">
                          <div class="caption">
                            <a href="/dsdouban/book/{{obj.book_id}}/details/" style="text-decoration: none;">
                                <h3>{{obj.title}}</h3>
                            </a>
                            <p>{{ extract|get_dictionary_item:obj.book_id |linebreaksbr }}</p>
                            
                          </div>
                        </div>
                      </div>
                    {%endfor%}
                    </div>
                    <div class="row">
                        {% for obj in row2_object.values %}              
                          <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                              <img src="\static\img_book\{{obj.book_id}}.jpg" style="height: 300px;  display: block;">
                              <div class="caption">
                                <a href="/dsdouban/book/{{obj.book_id}}/details/" style="text-decoration: none;">
                                    <h3>{{obj.title}}</h3>
                                </a>
                                <p>{{ extract|get_dictionary_item:obj.book_id |linebreaksbr }}</p>
                                
                              </div>
                            </div>
                          </div>
                        {%endfor%}
                        </div>
                  </div>





    </div>
    <div class="col-sm-2 col-md-offset--1">
        <div class="panel panel-default" style="margin-top: 50px;">
            <div class="panel-heading">
                <i class="fa fa-tags" aria-hidden="true" style="color:#f0ad4e;font-size: 18px"></i>
                标签分类
            </div>
            <div class="panel-body">
                <span>                  
                        <!-- <select name="class" id="class" style="background:#fafdfe; height:28px; width:180px; line-height:28px; border:1px solid #d6d076; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;">
                            <option value="{{ class_option }}"  style="display: none;" {% if not class %}selected=""{% endif %}>{{ class_option }}</option>
                            <option value=""  style="display: none;"></option>
                            {% for field in class_field %}
                            <option value="{{field.name}}" {% if field.name == class %}selected=""{% endif %}>{{field.name}}</option>
                            {% endfor %}
                        </select>        -->
                        {%for parent_class in class_field_dict %}
                        <div style="margin-bottom: 13px;">
                            <label for="class" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 15px;">{{parent_class}}</label>
                            <div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 10px;"></div>
                            <div>
                            {%for class in class_field_dict|get_dictionary_item:parent_class %}
                            <span style="margin-right:7px">
                            <a href='/?q=&class={{class}}'>{{class}}</a>
                            </span>
                            {%endfor%}
                            </div>
                        </div>
                        {%endfor%}
                    </span>
                

            </div>
        </div>


    </div>
</div>


<!-- Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">用户信息处理</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确 定</button>
            </div>
        </div>
    </div>
</div> -->


<footer>
    <div class="clearfix" style=" display:table;text-align:center;color: rgb(167, 167, 167);
    margin:0 auto">
        <span>_____________________________________</span>
        <span>&nbsp &nbsp &nbsp Reading is a lifestyle &nbsp &nbsp &nbsp  </span>
        <span>_____________________________________</span>
    </div>
    <div style="min-height: 30px;"></div>
</footer>
<script src="static/js/jquery-3.6.0.min.js"></script>
<script src="static/plugins/bootstrap-3.4.1/js/bootstrap.min.js"></script>

</body>
</html>
