{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·购物车</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
        * {
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
            text-shadow: rgba(0, 0, 0, .01) 0 0 1px
        }

        body {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 400;
            background: beige;
            color: #000000
        }

        
    </style>
</head>
<body>





{% include "head_nav.html"%}   



<div class="container">
        <div class="cart_section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="cart_container">



<div class="cart_items">
        <ul class="cart_list">
        <li class="cart_item clearfix">
                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between" style="width:calc(100%)">
                        <div class="cart_item_image"><img src="\static\img_book\{{order.book_id}}.jpg" alt="">
                        </div>
                        <div class="clearfix">
                        <div style="float: left;">
                                <div style="margin-left: 7.53%;">
                                    <div class="cart_item_text" style="width: 300px;">{{book.title}}</div>
                                </div>
                                <a href = '\dsdouban\book\{{order.book_id}}\details\'>
                                <div class="cart_item_color cart_info_col">
                                    <div class="cart_item_title" style="margin-left: 7.53%;">[详细信息]</div>
                                </div>
                                </a>
                            </div>


                            <div style="float: right;">
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">单价</div>
                                        <div class="cart_item_text">{{book.price_standard }}</div>
                                    </div>
                                

                                    <div style="margin-top:20px">
                                        <form method="post" novalidate>
                                            {% csrf_token %}
                        
                                            {% for field in form %}
                                                <div class="form-group" style="width: 200px;">
                                                    <label style="float: right;">数量</label>
                                                    {{ field }}
                                                    <span style="color: red;">{{ field.errors.0 }}</span>
                                                </div>
                                            {% endfor %}
                        
                                            <button type="submit" class="btn btn-primary" style="float: right;">确定</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                   
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
</div>
</div>
</div>
</div>
</div>


    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    
    </body>
    </html>