{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·购物车</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
        * {
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
            text-shadow: rgba(0, 0, 0, .01) 0 0 1px
        }

        body {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 400;
            background: beige;
            color: #000000
        }

        
    </style>
</head>
<body>





{% include "head_nav.html"%}    


<div class="container">
<div class="cart_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">

                        <div class="cart_items">
                            <ul class="cart_list">
                            <li class="cart_item clearfix">
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between" style="width:calc(100%)">
                                        <div style="float: left;">
                                            <div style="margin-left: 7.53%;">
                                                <div class="cart_item_text" style="width: 300px;font-size:40px;">{{ order.user }}</div>
                                            </div>
                                            <div style="margin-left: 7.53%;margin-top: 30px;color: rgba(0, 0, 0, 0.5);">
                                                {{order.user.get_is_vip_display}}
                                            </div>
                                        </div>
                                        <div style="float: right; margin-right: 0;">
                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_title">收件人</div>
                                                <div class="cart_item_text">{{ order.name }}</div>
                                            </div>
                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_title">收件人电话</div>
                                                <div class="cart_item_text">{{ order.telephone }}</div>
                                            </div>
                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_title">地址</div>
                                                <div class="cart_item_text">{{ order.address }}</div>
                                            </div>
                                            <div class="cart_item_number cart_info_col">
                                                    <div class="cart_item_title">物流方式</div>
                                                    <div class="cart_item_text">{{ order.logistics }}</div>
                                                </div>
                                                
                                                
                                            <div class="cart_item_number cart_info_col">
                                                    <a href = '/dsdouban/order/{{order.order_id}}/edit_unsubmitted_order/'>
                                                        <div class="cart_item_title">
                                                            <div class="cart_item_title" style="margin-left: 7.53%;min-width:80px;">[修改信息]</div>
                                                        </div>
                                                        </a>
                                            </div>
                                                
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>



                        <div class="cart_title">购物车</div>
                        <div class="cart_items">
                            <ul class="cart_list">


                                



                               




                                {% for book_order in order_list %}

                                <li class="cart_item clearfix">
                                    <div class="cart_item_image"><img src="\static\img_book\{{book_order.book_id}}.jpg" alt="">
                                    </div>
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div style="float: left;">
                                            <div style="margin-left: 7.53%;">
                                                <div class="cart_item_text" style="width: 300px;">{{book_order.book.title}}</div>
                                            </div>
                                            <a href = '\dsdouban\book\{{book_order.book_id}}\details\'>
                                            <div class="cart_item_color cart_info_col">
                                                <div class="cart_item_title" style="margin-left: 7.53%;">[详细信息]</div>
                                            </div>
                                            </a>
                                        </div>
                                        <div style="float: right;" class='money_part'>
                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_title">数量</div>
                                                <div class="cart_item_text">{{ book_order.number }}</div>
                                            </div>
                                            <div class="cart_item_price cart_info_col">
                                                {% if order.user.is_vip == 0 %}
                                                <div class="cart_item_title">单价</div>
                                                <div class="cart_item_text">{{ book_order.book.price_standard }}</div>
                                                {%else%}
                                                <div class="cart_item_title">会员价</div>
                                                <div class="cart_item_text">{{ book_order.book.price_vip }}</div>
                                                {%endif%}
                                            </div>
                                            <div class="cart_item_number cart_info_col" style="margin-bottom: 0px;">
                                                    <a href = '/dsdouban/order/{{book_order.order_list_id}}/edit_unsubmitted_order_list/'>
                                                        <div class="cart_item_title">
                                                            <div class="cart_item_title" style="margin-left: 7.53%;min-width:80px;">[修改数量]</div>
                                                        </div>
                                                        </a>
                                            </div>
                                            <div class="cart_item_number cart_info_col" >
                                                    <a href = '/dsdouban/order/{{book_order.order_list_id}}/delete_unsubmitted_order_list/'>
                                                        <div class="cart_item_title" style="margin-top: 0px;">
                                                            <div class="cart_item_title" style="margin-left: 7.53%;min-width:50px;margin-top: 5px;">[删除]</div>
                                                        </div>
                                                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                {%endfor%}

                            </ul>
                        </div>
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">订单总额：</div>
                                <div class="order_total_amount" id='Total'>0</div>
                            </div>
                        </div>

                        
                                {%if warning_info%}
                            <h4 style="color: red;">
                                {{warning_info}}
                            </h4>
                                {%endif%}
                            
                        <div class="cart_buttons"> 

                                <a  href="/">
                                <button type="button" class="button cart_button_clear">返回首页</button>
                                </a>
                                <a  href="/dsdouban/order/submit_unsubmitted_order/">
                                <button type="button" class="button cart_button_checkout">提交订单</button> 
                                </a>
                            </div>
                                </div>



                </div>
            </div>
        </div>
    </div>
</div>







<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    function calculate_total(){
        var elements = document.getElementsByClassName("money_part");
        var money_total = 0;
        for(var i = 0; i < elements.length; i++){
            var num = elements[i].getElementsByClassName('cart_item_number');
            num = num[0].getElementsByClassName('cart_item_text');
            num = parseInt(num[0].textContent);
            var price = elements[i].getElementsByClassName('cart_item_price');
            price = price[0].getElementsByClassName('cart_item_text');
            price = parseFloat(price[0].textContent);
            money_total+=price*num;
        }
        document.getElementById("Total").textContent = money_total.toFixed(2);
    }

    calculate_total();
</script>

</body>
</html>