{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·搜索结果</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
</head>
<body>





{% include "head_nav.html"%}    
{% include "head_sub.html"%}   

<div class="clearfix">
<div class="col-md-8 col-md-offset-1">

		<h3>  搜索结果 </h3>
		<div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 30px;"></div>
<ul class="search-results">
	{% for obj in queryset %}
	<li class="result clearfix">
		<div class="col-md-2">
		<a href="/dsdouban/book/{{obj.book_id}}/details/" style="text-decoration: none;">
		<img src="\static\img_book\{{obj.book_id}}.jpg"
		data-holder-rendered="true" style="width: 100px; margin-top: 15px; margin-bottom: 15px;" >
		</a>
		</div>
		<div class="col-md-9 col-md-offset-1" >
		<a href="/dsdouban/book/{{obj.book_id}}/details/">
		<h3>{{ obj.title }}</h3>
		</a>
        <div> 评分: {{ obj.score }} </div>

        <script type="text/javascript">
            var has_trans = 0;
        </script>
		<div> 作者: {% for author in obj.authors.all %}
                {%if author.is_translator == 0%}
                {{ author.name }};
                {% else %}
                <script type="text/javascript">
                    var has_trans = 1;
                </script>
                {% endif %}
            {%endfor%}</div>
        {% for author in obj.authors.all%}
        {%endfor%}
        <div id='trans_{{obj.book_id}}' style="display: none;"> 译者: {% for author in obj.authors.all %}
                {%if author.is_translator == 1%}
                {{ author.name }};
                {% endif %}
            {%endfor%}</div>
        <script type="text/javascript">
            if(has_trans==1){
                document.getElementById("trans_{{obj.book_id}}").style.display='block';
            }
        </script>
		<div> 出版社: {{ obj.press }}</div>
		<div> 出版日期: {{ obj.publish_date|date:"Y-m-d" }}</div>
		<div> 分类: {{ obj.class_field }}</div>
		<div> 标价: {{ obj.price_standard }}</div>
		<div> 会员价: {{obj.price_vip}}</div>
		{%if obj.edition != NULL %}
		<div> 版本号: {{ obj.edition }}</div>
		{%endif%}
		<div>{{ obj.introduction }}</div>
		</div>
		{% endfor %}


	</li>
</ul>
</div>
</div>

    <div class="container">
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
			</ul>
        </div>
    </div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>


<!-- 

    过去的版本


    <div class="container">
        

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                书籍列表
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>书名</th>
                    {% comment %} <th>出版日期</th> {% endcomment %}
                    <th>普通价格</th>
                    <th>会员价格</th>
                    <th>score</th>
                    {% comment %} <th>版本</th> {% endcomment %}
                    <th>出版社</th>
                    <th>类别</th>
                    <th>简介</th>
                    <th>作者</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.title }}</th>
                        {% comment %} <td>{{ obj.publish_date|date:"Y-m-d" }}</td> {% endcomment %}
                        <td>{{ obj.price_standard }}</td>
                        <td>{{ obj.price_vip }}</td>
                        <td>{{ obj.score }}</td>
                        {% comment %} <td>{{ obj.edition }}</td> {% endcomment %}
                        <td>{{ obj.press }}</td>
                        <td>{{ obj.class_field }}</td>
                        <td>{{ obj.introduction }}</td>
                        <td>
                            {% for author in obj.authors.all %}
                                {{ author.name }};
                            {%endfor%}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/dsdouban/book/{{obj.book_id}}/details/">查看详情</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
</body>
</html> -->
