{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·图书信息</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/rate.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
</head>
<body>



{% include "head_nav.html"%}    
{% include "head_sub.html"%}   





<div class="clearfix">
        <div class="col-md-8 col-md-offset-1" style="margin-bottom: 50px;">
            <!-- main part starts here -->
            <div class="clearfix">

            <div>
                <h2 style="margin-left: 15px; float: left;">
                    {{obj.title}}
                </h2>
                <div style="float: right;margin-top: 30px;">
                        <a onclick="javascript:history.back(-1);" href="#">
                            [返回]
                        </a>

                        <a href="/dsdouban/book/{{obj.book_id}}/add_book_to_unsubmitted_order_list/" {% if is_admin == 1 %} style="display: none;" {%endif%}>
                                [添加到购物车]
                        </a>
                </div>
            </div>


            <div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 30px;"></div>

                <div class="col-md-2">
                    <img src="\static\img_book\{{obj.book_id}}.jpg"
                    data-holder-rendered="true" style="width: 200px; margin-top: 15px; margin-bottom: 15px;" >
                </div>
                <div class="col-md-9 col-md-offset-1" style="font-size:15px; margin-top: 10px;">

                    <script type="text/javascript">
                            var has_trans = 0;
                    </script>
                    <div> 作者: {% for author in obj.authors.all %}
                                {%if author.is_translator == 0%}

                                <a href='/dsdouban/author/{{author.author_id}}/'> {{ author.name }}</a>;
                                
                                {% else %}
                                <script type="text/javascript">
                                    var has_trans = 1;
                                </script>
                                {% endif %}
                            {%endfor%}</div>
                        {% for author in obj.authors.all%}
                        {%endfor%}
                        <div id='trans_{{obj.book_id}}' style="display: none;"> 译者: {% for author in obj.authors.all %}
                                {%if author.is_translator == 1%}
                                <a href='/dsdouban/author/{{author.author_id}}/'> {{ author.name }}</a>;
                                {% endif %}
                            {%endfor%}</div>
                        <script type="text/javascript">
                            if(has_trans==1){
                                document.getElementById("trans_{{obj.book_id}}").style.display='block';
                            }
                        </script>
                        <div> 出版社: <a href='/dsdouban/press/{{obj.press.press_id}}/'> {{ obj.press }}</a>;</div>
                        <div> 出版日期: {{ obj.publish_date|date:"Y-m-d" }}</div>
                        <div> 分类: {{ obj.class_field }}</div>
                        <div> 标价: {{ obj.price_standard }}</div>
                        <div> 会员价: {{obj.price_vip}}</div>
                        <div> 库存量: {{obj.storage}}</div>
                        {%if obj.edition != NULL %}
                        <div> 版本号: {{ obj.edition }}</div>
                        {%endif%}
                        <div> ISBN: {{obj.book_id}} </div>
                        </div>

            </div>

                <h3 style="margin-top: 30px;">
                    内容简介
                </h3>
                <div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 30px;"></div>

                <p style="margin-left: 40px; margin-right: 40px;"> {{obj.introduction|linebreaksbr}} </p>

            

            <h3 style="margin-top: 30px;">
                用户评论
            </h3>
            <div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 30px;"></div>
            {%if comments%}
            <h4>
            {% for cmt in comments %}
                {% if cmt.user_id == user.user_id %}
                <div>
                    <span  style="font-size: 15px;">
                            {{cmt.user.name}}
                    </span>
                    <span style="color:rgb(124, 124, 124); font-size: 10px;">
                            {{cmt.submission_time }}
                    </span>
                    <button class="btn btn-default" onclick=delete_alarm() style="padding:4px 10px; border:1px solid #d6d076 ;">
                        <i class="fa fa-trash" aria-hidden="true" style="color:#d6d076;font-size: 18px"></i>
                    </button>
                    <a  href="/dsdouban/comments/{{cmt.comment_id}}/delete/" style="display: none;">
                        <button type="button" class="button cart_button_clear" id='delete_button'>删除评论</button>
                    </a>
                    <a  href="/dsdouban/comments/{{cmt.comment_id}}/update/">
                        <button class="btn btn-default" style="padding:4px 8px; border:1px solid #d6d076 ;">
                        <i class="fa fa-edit" aria-hidden="true" style="color:#d6d076;font-size: 18px"></i>
                        </button>
                    </a>
                    
                </div>
                <div>
                  {{ cmt.comment|linebreaksbr }}
                </div>
                {% else %}
                <div>
                    <span  style="font-size: 15px;">
                            {{cmt.user.name}}
                    </span>
                    <span style="color:rgb(124, 124, 124); font-size: 10px;">
                            {{cmt.submission_time }}
                    </span>
                </div>
                <div>
                  {{ cmt.comment|linebreaksbr }}
                </div>
                {%endif%}
            {%endfor%}
            </h4>
             
            {%else%}
            <h4>
                还没有评论呢！
            </h4>
            {%endif%}

            <button  class="btn btn-primary" onclick= "start_comment()" id='comment_button' {% if is_admin == 1 %} style="display: none;" {%endif%}>发表评论</button>

            <div style="display: none;" id='comment_block'>
            <h3 style="margin-top: 100px;"> 发表短评</h3>
            <div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 30px;"></div>

            <div class="panel-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
    
                        {% for field in form %}
                            <div class="form-group">
                                <label>评论</label>                        
                                <textarea type="text" name="comment" class="form-control" placeholder="发表你的感想吧" required="" id="id_comment"></textarea>
                                <span style="color: red;">{{ field.errors.0 }}</span>
                            </div>
                        {% endfor %}
    
                        <button type="submit" class="btn btn-primary">提 交</button>
                    </form>
            </div>
            <div>

            <!-- main part ends here  -->
            </div>

            </div>
        </div>

        <div class="col-md-2 col-md-offset-1" style="margin-bottom: 50px;">
        <!-- side bar -->

        <h3> 总评分: {%if obj.score_current == None %}
            {{ obj.score }}
            {%else%}
            {{obj.score_current}}
            {%endif%}
        </h3>
        <div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 30px;"></div>
        <div {% if is_admin == 1 %} style="display: none;" {%endif%}>
        <div> 你的评价:  <span id='your_score'>
        {%if rank_score != 0 %}    
            {{ rank_score}}
        {%endif%}
        </span> </div>

        <form method="post" novalidate>
            {% csrf_token %}
            <div class="rate">
                <input type="radio" id="star5" name="marks" value="10" onclick=score10() {%if rank_score == 10 %}checked="true" {%endif%}/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="marks" value="8" onclick=score8() {%if rank_score == 8 %}checked="true" {%endif%}/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="marks" value="6" onclick=score6() {%if rank_score == 6 %}checked="true" {%endif%}/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="marks" value="4" onclick=score4() {%if rank_score == 4 %}checked="true" {%endif%}/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="marks" value="2" onclick=score2() {%if rank_score == 2 %}checked="true" {%endif%}/>
                <label for="star1" title="text">1 star</label>
                
            </div>
            <button type="submit" class="btn btn-default">提 交</button>
        </form>
        </div>
        </div>
</div>


</div>

    

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    function start_comment(){
        document.getElementById("comment_block").style.display='block';
        document.getElementById("comment_button").style.display='none';
        window.scrollTo(0, document.documentElement.scrollHeight-document.documentElement.clientHeight);
    }
    function score2(){
        document.getElementById("your_score").innerHTML = '2';
    }
    function score4(){
        document.getElementById("your_score").innerHTML = '4';
    }
    function score6(){
        document.getElementById("your_score").innerHTML = '6';
    }
    function score8(){
        document.getElementById("your_score").innerHTML = '8';
    }
    function score10(){
        document.getElementById("your_score").innerHTML = '10';
    }
    function delete_alarm(){
        var r=confirm("确认删除?");
        if (r)
        {
            document.getElementById("delete_button").click();
        }
    }
</script>
</body>
</html>
