{% load static %}
{% load get_key %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·我的订单</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
        
        html, body {
        height: 100%;
        margin: 0;
        }
        .wrapper {
        min-height: 100%;
        
        /* 等于footer的高度 */
        margin-bottom: -100px;
        }
        .footer,
        .push {
        height: 50px;
        }

        
    </style>
</head>

<body>





    {% include "head_nav.html"%}




<div style="background-color: beige; " class="wrapper">
    <div class="container">
        <!-- 顶部 -->
        <div style="margin-bottom: 0px;margin-top: 50px;" class="clearfix">
            <div class="col-xs-2 col-md-offset-1">
                <h2>
                    我的订单
                </h2>
            </div>

            <div style="width: 500px; margin-top: 20px;" class="col-xs-6 col-md-offset-2">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                            value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>

            <div style="height:1px; width:100%; background:rgb(177, 177, 177); overflow:hidden;"></div>
        </div>
        <!-- 顶部结束 -->



        <div class="cart_section" style="padding-top: 0;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="cart_container">
                                <div class="cart_items">
                                    <ul class="cart_list">
        

                                        {% for deal in queryset %}
        
                                        <li class="cart_item clearfix">
                                            <!-- 交易信息 -->
                                            <div> 
                                                <div style="float:left;color: rgb(129, 129, 129);">
                                                    <div style="font-size: 20px;">
                                                        {{ deal.status }}
                                                    </div>
                                                    <div>
                                                        <span>
                                                        {{ deal.submission_time|date:"Y-m-d H:i:s" }} |
                                                        </span>
                                                        <span>
                                                        {{ deal.user }} |
                                                        </span>
                                                        <span>
                                                        物流方式:  {{ deal.logistics }} |
                                                                </span>
                                                        <span>
                                                        订单号: {{ deal.order_id }} 
                                                        </span>
                                                    </div>
                                
                                                </div> 
                                            </div>

                                            <div style="height:1px; width:100%; background:rgb(202, 202, 202); overflow:hidden;"></div>
                                            <!-- 交易详细信息 -->
                                            <div>
                                            <div class="push" style="height: 10px;"> </div>
                                            {%for item in detail|get_dictionary_item:deal.order_id %}
                                            <div class="clearfix" style="height: 100px; margin-top:30px;">
                                            <div class="cart_item_image" style="width:70px;height: 70px;">
                                                <img src="\static\img_book\{{item.book_id}}.jpg" alt=""> 
                                            </div>

                                            <div class="clearfix;" style="width: 100%;">
                                            <div>
                                            <div style="float: left;">
                                                <div style="margin-left: 7.53%;">
                                                    <div class="cart_item_text" style="width: 300px;">{{item.book.title}}</div>
                                                </div>
                                            </div>
                                            <div style="float: right;">
                                                    <div class="cart_item_number cart_info_col">
                                                        <div class="cart_item_title">数量</div>
                                                        <div class="cart_item_text" style="margin-top: 0px;">{{ item.number }}</div>
                                                    </div>
                                                    <div class="cart_item_price cart_info_col">
                                                        <div class="cart_item_title">单价</div>
                                                        <div class="cart_item_text" style="margin-top: 0px;">{{ item.book.price_standard }}</div>
                                                    </div>
                                            </div>
                                            
                                            </div>
                                            </div>
                                            </div>
                                            {%endfor%}
                                            <div style="height:1px; width:100%; background:rgb(202, 202, 202); overflow:hidden; margin-top: 40px;"></div>

                                            <!-- 按钮部分 -->
                                            <div class="cart_buttons" style="margin-top:20px"> 

                                                    <a  href="/dsdouban/order/{{deal.order_id}}/detail_order/">
                                                    <button type="button" class="button cart_button_clear">查看详情</button>
                                                    </a>
                                                    {% if deal.status == "已付款" %}
                                                    <a  href="/dsdouban/order/{{deal.order_id}}/finish_order/">
                                                    <button type="button" class="button cart_button_clear">确认收货</button> 
                                                    </a>
                                                    <a  href="/dsdouban/order/{{deal.order_id}}/cancel_order/">
                                                    <button type="button" class="button cart_button_clear">取消订单</button> 
                                                    </a>
                                                    {%endif%}
                                            </div>
                                                   



                                        </li>
        
        
                                        {%endfor%}
        
                                    </ul>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>






        
            
        </div>

    </div>





    <footer>
        <div class="clearfix" style=" display:table;
        text-align:center;
        margin:0 auto">
            <ul class="pagination">
                {{ page_string }}
            </ul>

        </div>
    </footer>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>

</html>