{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·搜索结果</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }

        
    </style>
</head>

<body>





    {% include "head_nav.html"%}


    





    <div style="background-color: beige; ">
        <div class="container">
            <div style="margin-bottom: 10px;margin-top: 50px" class="clearfix">

                <div class="col-xs-2 col-md-offset-1">
                    <h2>
                        我的订单
                    </h2>
                </div>

                <div style="width: 500px; margin-top: 20px;" class="col-xs-6 col-md-offset-2">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search for..."
                                value="{{ search_data }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>

                <div style="height:1px; width:100%; background:rgb(177, 177, 177); overflow:hidden;"></div>


            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    订单信息列表
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>订单id</th>
                            <th>用户名</th>
                            <th>提交时间</th>
                            <th>订单状态</th>
                            <th>物流id</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in queryset %}
                        <tr>
                            <th>{{ obj.order_id }}</th>
                            <!-- {% comment %} <td>{{ obj.publish_date|date:"Y-m-d" }}</td> {% endcomment %} -->
                            <td>{{ obj.user }}</td>
                            <td>{{ obj.submission_time|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ obj.status }}</td>
                            <td>{{ obj.logistics }}</td>
                            <td>
                                <a class="btn btn-danger btn-xs"
                                    href="/dsdouban/order/{{obj.order_id}}/detail_order/">查看详情</a>
                                {% if obj.status == "已付款" %}
                                <a class="btn btn-danger btn-xs"
                                    href="/dsdouban/order/{{obj.order_id}}/finish_order/">确认收货</a>
                                <a class="btn btn-danger btn-xs"
                                    href="/dsdouban/order/{{obj.order_id}}/cancel_order/">取消订单</a>
                                {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='push'></div>
            <div class="clearfix" style="margin-bottom: -50px;">
                <ul class="pagination">
                    {{ page_string }}
                </ul>

            </div>

        </div>

    </div>


    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>

</html>