{% load static %}
{% load get_key %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·搜索结果</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins//font-awesome-4.7.0/css/font-awesome.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
</head>
<body>





{% include "head_nav.html"%}    

<!-- 此处是原head_sub.html 为了将form放在一起而做了小改动 -->
<div class='subhead' style="height: 125px; 
background-color: #FFEECE;
margin-top: 25px;
margin-bottom: 10px;">
        <div class="col-xs-2 col-md-offset-1">
            <div>
                <img src="{% static "img\logo2.png" %}"
                data-holder-rendered="true" style="width: 250px; margin-top: 15px; margin-bottom: 15px;">
            </div>
        </div>

        <div class="col-xs-6 ">
            <div style="margin-bottom: 10px; margin-top: 20px; margin-left: 20px;" >
                <div style="width: 450px;">
                    <form method="get" action="/">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="书名、作者、简介、ISBN"
                                   value="{{ search_data }}">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                          </span>
                        </div>
                    
                </div>
            </div>
        </div>
        <div style="height:1px; width:100%; background:#251E0F; overflow:hidden;"></div>


        <div class="col-xs-2 col-md-offset--1">

        </div>
</div>






<div class="clearfix">
<div class="col-md-8 col-md-offset-1">

		<h3>  搜索结果 </h3>
		<div style="height:1px; width:100%; background:rgb(194, 194, 193); overflow:hidden; margin-bottom: 30px;"></div>
<ul class="search-results">

    
    <label for="orderby" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 15px;">排序方式</label>
    <select name="orderby" id="orderby" style="background:#fafdfe; height:28px; width:180px; line-height:28px; border:1px solid #d6d076; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;">
        <option value="{{ sort_option.name}}"  style="display: none;" {% if not orderby %}selected=""{% endif %}>{{ sort_option.verbose_name }}</option>
        <option value=""  style="display: none;"></option>
        {% for field in sort_field %}
        <option value="{{field.name}}" {% if field.name == orderby %}selected=""{% endif %}>{{field.verbose_name}}</option>
        {% endfor %}
    </select>

    <label for="order" style="font-family: ABeeZee, sans-serif;color: var(--bs-white);font-size: 15px;">按照</label>
    <select name="order" id="order" style="background:#fafdfe; height:28px; width:180px; line-height:28px; border:1px solid #d6d076; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;">
        <option value="{{ sort_rule }}"  style="display: none;"{% if not order %}selected=""{% endif %}>
            {%if sort_rule == 'asc'%}
            从低到高
            {%else%}
            {%if sort_rule == 'desc'%}
            从高到低
            {%endif%}
            {%endif%}
        </option>
        <option value=""  style="display: none;"></option>
        <option value="asc" {% if order == "asc" %}selected=""{% endif %}>从低到高</option>
        <option value="desc" {% if order == "desc" %}selected=""{% endif %}>从高到低</option>
    </select>

    <button class="btn btn-default" type="submit" style="padding:4px 10px; border:1px solid #d6d076 ;">
        <i class="fa fa-sort-desc" aria-hidden="true" style="color:#d6d076;font-size: 18px"></i>
    </button>

    </form>

    <button class="btn btn-default" onclick=reset_sort() style="padding:4px 10px; border:1px solid #d6d076 ;">
            <i class="fa fa-trash" aria-hidden="true" style="color:#d6d076;font-size: 18px"></i>
    </button>


    {% if queryset%}
	{% for obj in queryset %}
	<li class="result clearfix" style="list-style: none;">
		<div class="col-md-2">
		<a href="/dsdouban/book/{{obj.book_id}}/details/" style="text-decoration: none;">
		<img src="\static\img_book\{{obj.book_id}}.jpg"
		data-holder-rendered="true" style="width: 100px; margin-top: 15px; margin-bottom: 15px;" >
		</a>
		</div>
		<div class="col-md-9 col-md-offset-1" >
		<a href="/dsdouban/book/{{obj.book_id}}/details/">
		<h3>{{ obj.title }}</h3>
		</a>
        <div> 评分: {%if obj.score_current == None %}
                {{ obj.score }}
                {%else%}
                {{obj.score_current}}
                {%endif%} </div>

        <script type="text/javascript">
            var has_trans = 0;
        </script>
		<div> 作者: {% for author in obj.authors.all %}
                {%if author.is_translator == 0%}
                {{ author.name }};
                {% else %}
                <script type="text/javascript">
                    var has_trans = 1;
                </script>
                {% endif %}
            {%endfor%}</div>
        {% for author in obj.authors.all%}
        {%endfor%}
        <div id='trans_{{obj.book_id}}' style="display: none;"> 译者: {% for author in obj.authors.all %}
                {%if author.is_translator == 1%}
                {{ author.name }};
                {% endif %}
            {%endfor%}</div>
        <script type="text/javascript">
            if(has_trans==1){
                document.getElementById("trans_{{obj.book_id}}").style.display='block';
            }
        </script>
		<div> 出版社: {{ obj.press }}</div>
        <div> 出版日期: {{ obj.publish_date|date:"Y-m-d" }}</div>
        {%if obj.class_field != NULL %}
            <div> 分类: {{ obj.class_field }}</div>
        {%endif%}
		<div> 标价: {{ obj.price_standard }}</div>
		<div> 会员价: {{obj.price_vip}}</div>
		{%if obj.edition != NULL %}
		    <div> 版本号: {{ obj.edition }}</div>
        {%endif%}
		<div style="color: rgb(156, 156, 156);">{{ extract|get_dictionary_item:obj.book_id  }}</div>
		</div>
		{% endfor %}


	</li>
</ul>
</div>
</div>

    <div class="container">
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
			</ul>
        </div>
    </div>

    {%else%}

    <h3> 没有找到，试试别的关键词？</h3>


    {%endif%}


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    function reset_sort()
    {
        document.getElementById("orderby").options[1].selected=true;
        document.getElementById("order").options[1].selected=true;
    }
</script>
</body>
</html>


<!-- 

    过去的版本


    <div class="container">
        

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                书籍列表
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>书名</th>
                    {% comment %} <th>出版日期</th> {% endcomment %}
                    <th>普通价格</th>
                    <th>会员价格</th>
                    <th>score</th>
                    {% comment %} <th>版本</th> {% endcomment %}
                    <th>出版社</th>
                    <th>类别</th>
                    <th>简介</th>
                    <th>作者</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.title }}</th>
                        {% comment %} <td>{{ obj.publish_date|date:"Y-m-d" }}</td> {% endcomment %}
                        <td>{{ obj.price_standard }}</td>
                        <td>{{ obj.price_vip }}</td>
                        <td>{{ obj.score }}</td>
                        {% comment %} <td>{{ obj.edition }}</td> {% endcomment %}
                        <td>{{ obj.press }}</td>
                        <td>{{ obj.class_field }}</td>
                        <td>{{ obj.introduction }}</td>
                        <td>
                            {% for author in obj.authors.all %}
                                {{ author.name }};
                            {%endfor%}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/dsdouban/book/{{obj.book_id}}/details/">查看详情</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clearfix">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
</body>
</html> -->
