{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆丝豆瓣·个人信息</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <style>
        .navbar {
            border-radius: 0;
        }
        * {
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
            text-shadow: rgba(0, 0, 0, .01) 0 0 1px
        }

        body {
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-weight: 400;
            background: beige;
            color: #000000
        }

        
    </style>
</head>
<body>





{% include "head_nav.html"%}    


<div class="container">
<div class="cart_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">

                        <div class="cart_items">
                            <ul class="cart_list">
                            <li class="cart_item clearfix">
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between" style="width:calc(100%)">
                                        <div style="float: left;">
                                            <div style="margin-left: 7.53%;">
                                                <div class="cart_item_text" style="width: 300px;font-size:40px;">成为会员！</div>
                                                <div class="cart_item_text" style="width: 300px;font-size:20px;">每单享受会员特价！</div>
                                                <div class="cart_item_text" style="width: 300px;font-size:20px; margin-top: 20px;">88元/12月</div>
                                                <div class="cart_item_text" style="width: 300px;font-size:20px;">188元/36月</div>

                                                <div class="cart_item_text" style="width: 500px;font-size:20px; margin-top: 40px;">请联系管理员，进行线上支付；我们将于3个工作日之内回复。</div>
                                            </div>



                                        </div>

                                        <div style="float: right; margin-right: 0;">
                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_title">管理员 1</div>
                                                <div class="cart_item_text">  微信: despunkzhang</div>
                                               
                                            </div>
                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_title">管理员 2</div>
                                                <div class="cart_item_text">  微信: cypherwyr4life</div>
                                            </div>
                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_title">管理员 3</div>
                                                <div class="cart_item_text"> 微信: leapeto</div>
                                            </div>
                                            

                                            {% if user.is_vip %}
                                            {% else %}
                                            <div style="height:1px; width:100%; background:rgb(202, 202, 202); overflow:hidden; margin-top: 40px;"></div>

                                            <div class="cart_item_number cart_info_col">
                                                <div class="cart_item_text" style="width: 200px;font-size:40px;">

                                                    <a onclick="javascript:history.back(-1);" href="#">
                                                        <button type="button" class="button cart_button_clear" style="margin-right: 0px;">返回</button> 
                                                     </a>
                                                    </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>

</body>
</html>